#rm-ingredients-field, #cooking-instructions {
    /* float: left; */
    color: blue;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;

  }

.fp-ingredients input {
    padding: 0 !important;
    margin: 0 0 5px 0 !important;
}

.columni {
    float: left;
    width: 75%;

}
  
.columnin {
    float: left;
    width: 82%;
}
  
.columnt {
    float: left;
    width: 15%;
    margin: 0 4px 0 2px;
}
  
.columnq {
    float: left;
    width: 12%;
}

input#rm-quantity-type-field {
  width: 100%;
}
  
.columnu {
    float: left;
    width: 12%;
    margin: 0 1px 0 1px;
    text-align: center;
}
  
.columnb {
    float: left;
    width: 100%;
    text-align: center;
}

.fp-ingredients {
    border: black solid;
    margin: 0 2.5px 0 2.5px;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .pic-upload {
    border: black solid;
    text-align: center;
    padding: 120px;
    margin: 2.5px;
  }
  
  .form-txtarea {
      min-height: 200px;
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 100%;
    padding: 10px;
    background-color: white;
    width: 80vw;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  h1.main_title {
    font-family: sans-serif;
    text-align: center;
    
}

.ingredient_name{
  margin: 0 !important;
  background-color: white !important;
  font-family: sans-serif;
  /* padding: 1.6em; */
}



.fp_recipe_pod {
  margin: 0 !important;
  background-color: white !important;
  padding: 1.6em;
}


/* Check Box Styling*/

.fp_mealt input[type="checkbox"]:checked + label {
  border: 2px inset;
  display: table;
  background-color: lightblue;
  
}

input[type="checkbox"] {
  visibility: hidden;
}

.fp_mealt label:hover {
  background-color: lightblue;
  max-width: 100%;
  display: table;
  border: 2px outset;
}

.fp_mealt {
  display: flex;
  justify-content: center;
  padding: 15px;
}

/*recipe page styles*/

.fp_post_title {
  float: left;
  margin: 38px;
}

.fp_post_description {
  text-align: center;
}

.fp_recipe_title {
  text-align: center;
}

.fp_form_link {
  position: relative;
  left: 20%;
  bottom: 350px;
}

.fp_form_link_br {
  position: relative;
  left: 20%;
  bottom: 10px;
}

